src/application.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="module/slick-carousel/slick/slick.css">
    <title>Application
    </title>
  </head>
  <body class="modal-bg">
    <header class="header navbar navbar-dark">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-4 col-md-6 col-xl-5 d-flex align-items-center">
            <div class="logo"><img src="img/logo.png" alt="Logo"></div>
            <div class="logo__descr text">
              <p>Снижает стоимость, не качество    </p>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="header__callback d-flex flex-column"><a class="header__num" href="tel:74885634487">+7 488 563 44 87</a><a class="d-flex align-items-center" href="tel:74885634487"><span class="js-callback">Обратный звонок</span></a></div>
            <div class="header__lang d-flex align-items-center"><span class="header__lang-item js-lang">Ru</span><span class="header__lang-slash">/</span><span class="header__lang-item header__lang-item_chosen js-lang">Eng</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
        </div>
      </div>
    </header>
    <nav class="container-fluid main-nav">
      <ul class="row">
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Экономия за счет инноваций</span></div>
        </li>
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Весь RFID под одной крышей</span></div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Этикетки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Антенны</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Инлеи</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Смарт-карты</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Индивидуальное проектирование</a></li>
            </ul><span class="main-nav__item-text">Продукция</span>
          </div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Технологии</a></li>
              <li class="main-nav__submenu-item"><a href="#">Применение</a></li>
              <li class="main-nav__submenu-item"><a href="#">Услуги</a></li>
            </ul><span class="main-nav__item-text">Информация</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light main-nav__mobile">
      <div class="collapse navbar-collapse main-nav__mobile-collaps" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Экономия за счет инноваций<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Весь RFID под одной крышей</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Этикетки</a><a class="dropdown-item" href="#">Метки</a><a class="dropdown-item" href="#">RFID Антенны</a><a class="dropdown-item" href="#">RFID Инлеи</a><a class="dropdown-item" href="#">RFID Метки</a><a class="dropdown-item" href="#">Смарт-карты</a><a class="dropdown-item" href="#">Индивидуальное проектирование</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2"><a class="dropdown-item" href="#">Технологии</a><a class="dropdown-item" href="#">Применение</a><a class="dropdown-item" href="#">Услуги</a></div>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="main">
        <div class="app-banner">
          <div class="container">
            <section class="navigation-string row no-gutters"><a class="navigation-string__a" href="">Главная</a><span class="navigation-string__span">/</span><a class="navigation-string__a" href="">Применение продукции</a></section>
            <h1 class="title">Применение<span>продукции</span></h1>
          </div>
        </div>
        <section class="app-banner__links">
          <div class="container">
            <div class="app-banner__links__items row no-gutters"><a class="app-banner__links__items__item logistick" href="">Ритейл, транспорт и логистика</a><a class="app-banner__links__items__item banks" href="">Банки и финансовый сектор</a><a class="app-banner__links__items__item health" href="">Фармацевтика и здаравоохранение</a><a class="app-banner__links__items__item electron" href="">Производство электроники</a><a class="app-banner__links__items__item goverment" href="">Государственный сектор</a><a class="app-banner__links__items__item telecom" href="">Телекомуникации</a></div>
          </div>
        </section>
        <section class="app-table scroll_x">
          <div class="container">
            <div class="app-table__top row no-gutters">
              <div class="app-table__top__item"><span class="app-table__top__item__span">Отрасль</span></div>
              <div class="app-table__top__item"><span class="app-table__top__item__span">Устройства</span></div>
              <div class="app-table__top__item"><span class="app-table__top__item__span">Зачем использовать</span></div>
              <div class="app-table__top__item"><span class="app-table__top__item__span">Продукт</span></div>
            </div>
            <div class="app-table__content row no-gutters">
              <div class="app-table__content__item">
                <p class="app-table__content__item__p">Государственный сектор</p>
              </div>
              <div class="app-table__content__item">
                <p class="app-table__content__item__p slashbefore">Системы идентификации личности (удостоверения личности, паспорта, включая биометрические и т.д.)</p>
                <p class="app-table__content__item__p slashbefore">Системы с использованием электронных идентификационных документов, таких водительское удостоверение, социальная карта, разрешение на пребывание, полисы ОМС, свидетельства пенсионного страхования и др.</p>
              </div>
              <div class="app-table__content__item">
                <p class="app-table__content__item__p slashbefore">Более высокое качество идентификации, более надежная защита от подделки и фальсификации</p>
                <p class="app-table__content__item__p slashbefore">Сокращение временных затрат на контроль документов</p>
                <p class="app-table__content__item__p slashbefore">Повышение качества оказания государственных услуг</p>
              </div>
              <div class="app-table__content__item"><a class="app-table__content__item__a" href="">RFID чипы</a></div>
            </div>
            <div class="app-table__content row no-gutters">
              <div class="app-table__content__item">
                <p class="app-table__content__item__p">Фармацевтика и здравоохранение</p>
              </div>
              <div class="app-table__content__item">
                <p class="app-table__content__item__p slashbefore">Системы учета и контроля</p>
                <p class="app-table__content__item__p slashbefore">Системы защиты от фальсификации</p>
                <p class="app-table__content__item__p slashbefore">Специальные медицинские информационные системы</p>
              </div>
              <div class="app-table__content__item">
                <p class="app-table__content__item__p slashbefore">Защита лекарственных средств от фальсификации</p>
                <p class="app-table__content__item__p slashbefore">Надежное хранение информации о состоянии и истории болезни</p>
                <p class="app-table__content__item__p slashbefore">Защита клинических данных от ошибок, связанных с человеческим фактором</p>
              </div>
              <div class="app-table__content__item"><a class="app-table__content__item__a slashbefore" href="">RID метки на товары</a><a class="app-table__content__item__a slashbefore" href="">Разрушаемые метки на бумажной основе</a></div>
            </div>
            <div class="app-table__content row no-gutters">
              <div class="app-table__content__item">
                <p class="app-table__content__item__p">Фармацевтика и здравоохранение</p>
              </div>
              <div class="app-table__content__item">
                <p class="app-table__content__item__p slashbefore">Системы управления складом и торговлей</p>
                <p class="app-table__content__item__p slashbefore">Системы управления отношениями с клиентами</p>
                <p class="app-table__content__item__p slashbefore">Противокражные системы и системы защиты от подделки</p>
                <p class="app-table__content__item__p slashbefore">Системы взимания платы за проезд</p>
                <p class="app-table__content__item__p slashbefore">Системы идентификации транспорта в режиме реального времени</p>
                <p class="app-table__content__item__p slashbefore">Системы контроля въезда-выезда, управления транспортом</p>
                <p class="app-table__content__item__p slashbefore">Системы учета и инвентаризации</p>
                <p class="app-table__content__item__p slashbefore">Системы закупок</p>
              </div>
              <div class="app-table__content__item">
                <p class="app-table__content__item__p slashbefore">Сокращение затрат на контроль товарооборота</p>
                <p class="app-table__content__item__p slashbefore">Сокращение времени на обслуживание клиентов и повышение качества сервиса</p>
                <p class="app-table__content__item__p slashbefore">Полноценная информация для анализа потребительских предпочтений</p>
                <p class="app-table__content__item__p slashbefore">Экономия за счет сокращения количества краж</p>
                <p class="app-table__content__item__p slashbefore">Повышение качества и скорости обслуживания пассажиров</p>
                <p class="app-table__content__item__p slashbefore">Защита транспортных билетов от поделки</p>
                <p class="app-table__content__item__p slashbefore">Сбор статистических данных по транспорту и пассажирам</p>
                <p class="app-table__content__item__p slashbefore">Оптимизация процессов инвентаризации и логистики</p>
                <p class="app-table__content__item__p slashbefore">Сокращение временных затрат на приемку и отгрузку товаров</p>
                <p class="app-table__content__item__p slashbefore">Автоматизированный сбор данных о перемещении грузов</p>
              </div>
              <div class="app-table__content__item"><a class="app-table__content__item__a slashbefore" href="">Разрушаемые метки на бумажной основе</a><a class="app-table__content__item__a slashbefore" href="">RFID метки на транспорт, товары и паллеты</a><a class="app-table__content__item__a slashbefore" href="">Транспортные карты и билеты</a></div>
            </div>
          </div>
        </section>
        <div class="proposition col-xl-12">
          <div class="container">
            <div class="proposition-block__text">
              <h2 class="title-form">Получить предложение				</h2>
              <p class="proposition-block__text__p">Оставьте ваши контактные данные</p>
            </div>
          </div>
          <form class="proposition-block__form">
            <div class="container">
              <div class="proposition-block__form__wrapper row no-gutters">
                <div class="proposition-block__form__wrapper__input">
                  <input type="text" name="name" placeholder="Имя">
                  <input type="tel" name="tel" placeholder="Телефон">
                </div>
                <div class="proposition-block__form__wrapper__button">
                  <button name="submit" type="submit" value="Отправить">Отправить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-xl-5 mb-3 mb-md-0">
            <div class="footer__first-col"><a class="footer__link footer__link_light" href="#">Экономия за счет инноваций</a><a class="footer__link footer__link_light" href="#">Весь RFID под одной крышей</a><span class="footer__copyright">&#9400; RFIDtag.tech</span></div>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 mb-md-0">
            <div class="footer__second-col">
              <h3 class="footer__title">Продукция</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Этиктки</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Метки на метал</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Антенны</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Инлеи</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Смарт-карты</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Индивидуальное проектирование</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 mb-3 mb-md-0">
            <div class="footer__third-col">
              <h3 class="footer__title">Информация</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Технологии</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Применение</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Услуги</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Контакты	</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 mb-3 mb-md-0">
            <div class="footer__forth-col"><a class="footer__tel" href="tel:74885634487">+7 488 563 44 87</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')</script>
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="module/slick-carousel/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="module/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="module/custom_scroll_X/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

src/pug/pages/application.pug
extends ../templates/_head

block title
	| Application
block content
	main
		.main
			.app-banner
				.container
					section.navigation-string.row.no-gutters
						a.navigation-string__a(href='') Главная
						span.navigation-string__span /
						a.navigation-string__a(href='') Применение продукции
					h1.title Применение
						span продукции
			section.app-banner__links
				.container
					.app-banner__links__items.row.no-gutters
						a.app-banner__links__items__item.logistick(href='') Ритейл, транспорт и логистика
						a.app-banner__links__items__item.banks(href='') Банки и финансовый сектор
						a.app-banner__links__items__item.health(href='') Фармацевтика и здаравоохранение
						a.app-banner__links__items__item.electron(href='') Производство электроники
						a.app-banner__links__items__item.goverment(href='') Государственный сектор
						a.app-banner__links__items__item.telecom(href='') Телекомуникации
			section.app-table.scroll_x
				.container
					.app-table__top.row.no-gutters
						.app-table__top__item
							span.app-table__top__item__span Отрасль
						.app-table__top__item
							span.app-table__top__item__span Устройства
						.app-table__top__item
							span.app-table__top__item__span Зачем использовать
						.app-table__top__item
							span.app-table__top__item__span Продукт
					.app-table__content.row.no-gutters
						.app-table__content__item
							p.app-table__content__item__p Государственный сектор
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Системы идентификации личности (удостоверения личности, паспорта, включая биометрические и т.д.)
							p.app-table__content__item__p.slashbefore Системы с использованием электронных идентификационных документов, таких водительское удостоверение, социальная карта, разрешение на пребывание, полисы ОМС, свидетельства пенсионного страхования и др.
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Более высокое качество идентификации, более надежная защита от подделки и фальсификации
							p.app-table__content__item__p.slashbefore Сокращение временных затрат на контроль документов
							p.app-table__content__item__p.slashbefore Повышение качества оказания государственных услуг
						.app-table__content__item
							a.app-table__content__item__a(href='') RFID чипы
					.app-table__content.row.no-gutters
						.app-table__content__item
							p.app-table__content__item__p Фармацевтика и здравоохранение
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Системы учета и контроля
							p.app-table__content__item__p.slashbefore Системы защиты от фальсификации
							p.app-table__content__item__p.slashbefore Специальные медицинские информационные системы
						.app-table__content__item
							
							p.app-table__content__item__p.slashbefore Защита лекарственных средств от фальсификации
							p.app-table__content__item__p.slashbefore Надежное хранение информации о состоянии и истории болезни
							p.app-table__content__item__p.slashbefore Защита клинических данных от ошибок, связанных с человеческим фактором
						.app-table__content__item
							a.app-table__content__item__a.slashbefore(href='') RID метки на товары
							a.app-table__content__item__a.slashbefore(href='') Разрушаемые метки на бумажной основе
					.app-table__content.row.no-gutters
						.app-table__content__item
							p.app-table__content__item__p Фармацевтика и здравоохранение
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Системы управления складом и торговлей
							p.app-table__content__item__p.slashbefore Системы управления отношениями с клиентами
							p.app-table__content__item__p.slashbefore Противокражные системы и системы защиты от подделки
							p.app-table__content__item__p.slashbefore Системы взимания платы за проезд
							p.app-table__content__item__p.slashbefore Системы идентификации транспорта в режиме реального времени
							p.app-table__content__item__p.slashbefore Системы контроля въезда-выезда, управления транспортом
							p.app-table__content__item__p.slashbefore Системы учета и инвентаризации
							p.app-table__content__item__p.slashbefore Системы закупок
						.app-table__content__item
							p.app-table__content__item__p.slashbefore Сокращение затрат на контроль товарооборота
							p.app-table__content__item__p.slashbefore Сокращение времени на обслуживание клиентов и повышение качества сервиса
							p.app-table__content__item__p.slashbefore Полноценная информация для анализа потребительских предпочтений
							p.app-table__content__item__p.slashbefore Экономия за счет сокращения количества краж
							p.app-table__content__item__p.slashbefore Повышение качества и скорости обслуживания пассажиров
							p.app-table__content__item__p.slashbefore Защита транспортных билетов от поделки
							p.app-table__content__item__p.slashbefore Сбор статистических данных по транспорту и пассажирам
							p.app-table__content__item__p.slashbefore Оптимизация процессов инвентаризации и логистики
							p.app-table__content__item__p.slashbefore Сокращение временных затрат на приемку и отгрузку товаров
							p.app-table__content__item__p.slashbefore Автоматизированный сбор данных о перемещении грузов
						.app-table__content__item
							a.app-table__content__item__a.slashbefore(href='') Разрушаемые метки на бумажной основе
							a.app-table__content__item__a.slashbefore(href='') RFID метки на транспорт, товары и паллеты
							a.app-table__content__item__a.slashbefore(href='') Транспортные карты и билеты
			.proposition.col-xl-12
				.container
					.proposition-block__text
						h2.title-form Получить предложение				
						p.proposition-block__text__p Оставьте ваши контактные данные
				form.proposition-block__form
					.container
						.proposition-block__form__wrapper.row.no-gutters
							.proposition-block__form__wrapper__input
								input(type='text' name='name' placeholder='Имя')
								input(type='tel' name='tel' placeholder='Телефон')
							.proposition-block__form__wrapper__button
								button(name='submit' type='submit' value="Отправить") Отправить
