src/pug/pages/innovation.pug
extends ../templates/_head

block title
	| Innovation
block content
	main
		.main
			.container
				section.navigation-string.row.no-gutters
					a.navigation-string__a(href='') Главная
					span.navigation-string__span /
					a.navigation-string__a(href='') Спецификации RFID Антен
				section.banner-sticker.banner-specifications__bg.banner-innovation__bg.row
					.banner-sticker__block.col-xl-12
						h1.title.banner-sticker__block__h1 Экономия за счет
							span.banner-specifications__bg__span инноваций
						p.text-black.banner-sticker__block__p Мы потратим годы, чтобы добиться значительной экономии при покупке RFID меток
			section.app-banner__links
				.container
					.row.justify-content-between.inn-banner__links__items
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.simple-a.anchor(href='#innovations') Гениальная простота
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.assort-a.anchor(href='#assortment') Ассортимент
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.nonagent-a.anchor(href='#nonagent') Без посредников
						.col-12.col-sm-6.col-lg-3
							a.app-banner__links__items__item.certificate-a.anchor(href='#certificate') Сертифицировано
			section.innovations-parts
				.container
					.innovations-parts__simple-block#innovations
						h2.title.advantages__h2 
							span 01 
							|Гениальная простота
						.innovations-parts__simple-block__items.row
							.innovations-parts__simple-block__items__item.slashbefore.col-xl-4
								span Нет пластиковых инкрустаций, никакой суеты
								p Изготовленные из бумаги этикетки RFID Tageos мгновенно производятся нашими машинами и сразу готовы к использованию.
							.innovations-parts__simple-block__items__item.slashbefore.col-xl-4
								span Промышленность
								p Наши этикетки оснащены тегом кремния от лидеров отрасли NXP™, Alien Technology™ и Impinj™.
							.innovations-parts__simple-block__items__item.slashbefore.col-xl-4
								span Дизайн смартер антенны
								p Наши инженеры потратили годы на разработку уникальной в отрасли антенны. В результате получается более тонкая антенна, с равной, если не лучше, производительностью.
						.innovations-parts__simple-block__infographic.row
							.innovations-parts__simple-block__infographic__graph
								.innovations-parts__simple-block__infographic__graph__text
									p бумага
									p аллюминий
									p чип
								.innovations-parts__simple-block__infographic__graph__text-abs
									p Всё просто!
							.innovations-parts__simple-block__infographic__illustration
								p Наши продукты доступны в виде  клейких этикеткок и висячих наклеек
							.innovations-parts__simple-block__infographic__text
								span меньше отходов
								p 
								| Tageos использует на 
								span.percents 50% 
								| меньше клея, без пластика и создает на 
								span.percents 90% 
								| меньше отходов, чем традиционные теги.
					.innovations-parts__assortment-block#assortment.row.no-gutters
						.innovations-parts__assortment-block__h2.row
							h2.innovations-parts__assortment-block__h2-h2
								span 02 
								|Ассортимент
							h2.innovations-parts__assortment-block__h2-p.slashbefore
								span У нас есть полный набор RFID меток и RFID этикеток, соответствующих Вашим потребностям
					.innovations-parts__assortment-block__items.row
						.innovations-parts__assortment-block__items__item.first
							p 
								span RFID Tag 
								|  произведет метки с Вашим логотипом и фирменным цветом
						.innovations-parts__assortment-block__items__item.second
							p 
								|В тех случаях когда бизнес оправдывает: 
								span RFID Tag 
								|  может разработать метку по индивидуальному техническому заданию, включая дизайн антенны
						.innovations-parts__assortment-block__items__item.third
							p Ваши метки могут быть произведены по индивидуальному дизайну с различными формами, размерами и запасом бумаги
					.innovations-parts__nonagent-block#nonagent
						.advantages.col-xl-12
							.advantages__label.technologies__label.innovations__label.row
								.advantages__label__content.innovations__label-content_left
									h3.advantages__label__content__h3.bracket_slash.innovations__bracket_slash Без посредников
									p.advantages__label__content__p Мы предоставляем торговую марку RFID в различных материалах, совместимых с существующей традиционной этикеткой. Продукция является исключительно нашего производства.
								.advantages__label__img.innovations__label-img_left
									img(src='img/levels_1.png', alt="image")
					.innovations-parts__certificate-block.d-flex#certificate
						.innovations-parts__certificate-block__certificates
							.innovations-parts__certificate-block__certificates__item
								img(src='img/cert1.svg', alt="image")
							.innovations-parts__certificate-block__certificates__item
								img(src='img/cert2.svg', alt="image")
							.innovations-parts__certificate-block__certificates__item
								img(src='img/cert3.svg', alt="image")
						.innovations-parts__certificate-block__line
						.innovations-parts__certificate-block__content
							h3.advantages__label__content__h3 Сертифицированное качество
							p.advantages__label__content__p Наши продукты и наше производственное оборудование отличаются инновативностью и лучшим качеством, а значит превосходной энергоэффективностью и долговечностью.
			.proposition.col-xl-12
				.container
					.proposition-block__text
						h2.title-form Получить предложение
						p.proposition-block__text__p Оставьте ваши контактные данные
				form.proposition-block__form
					.container
						.proposition-block__form__wrapper.row
							.proposition-block__form__wrapper__input
								input(type='text' name='name' placeholder='Имя')
								input(type='tel' name='tel' placeholder='Телефон')
							.proposition-block__form__wrapper__button
								button(name='submit' type='submit' value="Отправить") Отправить

src/innovation.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="module/slick-carousel/slick/slick.css">
    <title>Innovation
    </title>
  </head>
  <body class="modal-bg">
    <header class="header navbar navbar-dark">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-4 col-md-6 col-xl-5 d-flex align-items-center">
            <div class="logo"><img src="img/logo.png" alt="Logo"></div>
            <div class="logo__descr text">
              <p>Снижает стоимость, не качество    </p>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="header__callback d-flex flex-column"><a class="header__num" href="tel:74885634487">+7 488 563 44 87</a><a class="d-flex align-items-center" href="tel:74885634487"><span class="js-callback">Обратный звонок</span></a></div>
            <div class="header__lang d-flex align-items-center"><span class="header__lang-item js-lang">Ru</span><span class="header__lang-slash">/</span><span class="header__lang-item header__lang-item_chosen js-lang">Eng</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
        </div>
      </div>
    </header>
    <nav class="container-fluid main-nav">
      <ul class="row">
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Экономия за счет инноваций</span></div>
        </li>
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Весь RFID под одной крышей</span></div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Этикетки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Антенны</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Инлеи</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Смарт-карты</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Индивидуальное проектирование</a></li>
            </ul><span class="main-nav__item-text">Продукция</span>
          </div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Технологии</a></li>
              <li class="main-nav__submenu-item"><a href="#">Применение</a></li>
              <li class="main-nav__submenu-item"><a href="#">Услуги</a></li>
            </ul><span class="main-nav__item-text">Информация</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light main-nav__mobile">
      <div class="collapse navbar-collapse main-nav__mobile-collaps" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Экономия за счет инноваций<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Весь RFID под одной крышей</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Этикетки</a><a class="dropdown-item" href="#">Метки</a><a class="dropdown-item" href="#">RFID Антенны</a><a class="dropdown-item" href="#">RFID Инлеи</a><a class="dropdown-item" href="#">RFID Метки</a><a class="dropdown-item" href="#">Смарт-карты</a><a class="dropdown-item" href="#">Индивидуальное проектирование</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2"><a class="dropdown-item" href="#">Технологии</a><a class="dropdown-item" href="#">Применение</a><a class="dropdown-item" href="#">Услуги</a></div>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="main">
        <div class="container">
          <section class="navigation-string row no-gutters"><a class="navigation-string__a" href="">Главная</a><span class="navigation-string__span">/</span><a class="navigation-string__a" href="">Спецификации RFID Антен</a></section>
          <section class="banner-sticker banner-specifications__bg banner-innovation__bg row">
            <div class="banner-sticker__block col-xl-12">
              <h1 class="title banner-sticker__block__h1">Экономия за счет<span class="banner-specifications__bg__span">инноваций</span></h1>
              <p class="text-black banner-sticker__block__p">Мы потратим годы, чтобы добиться значительной экономии при покупке RFID меток</p>
            </div>
          </section>
        </div>
        <section class="app-banner__links">
          <div class="container">
            <div class="row justify-content-between inn-banner__links__items">
              <div class="col-12 col-sm-6 col-lg-3"><a class="app-banner__links__items__item simple-a anchor" href="#innovations">Гениальная простота</a></div>
              <div class="col-12 col-sm-6 col-lg-3"><a class="app-banner__links__items__item assort-a anchor" href="#assortment">Ассортимент</a></div>
              <div class="col-12 col-sm-6 col-lg-3"><a class="app-banner__links__items__item nonagent-a anchor" href="#nonagent">Без посредников</a></div>
              <div class="col-12 col-sm-6 col-lg-3"><a class="app-banner__links__items__item certificate-a anchor" href="#certificate">Сертифицировано</a></div>
            </div>
          </div>
        </section>
        <section class="innovations-parts">
          <div class="container">
            <div class="innovations-parts__simple-block" id="innovations">
              <h2 class="title advantages__h2"> <span>01 </span>Гениальная простота</h2>
              <div class="innovations-parts__simple-block__items row">
                <div class="innovations-parts__simple-block__items__item slashbefore col-xl-4"><span>Нет пластиковых инкрустаций, никакой суеты</span>
                  <p>Изготовленные из бумаги этикетки RFID Tageos мгновенно производятся нашими машинами и сразу готовы к использованию.</p>
                </div>
                <div class="innovations-parts__simple-block__items__item slashbefore col-xl-4"><span>Промышленность</span>
                  <p>Наши этикетки оснащены тегом кремния от лидеров отрасли NXP™, Alien Technology™ и Impinj™.</p>
                </div>
                <div class="innovations-parts__simple-block__items__item slashbefore col-xl-4"><span>Дизайн смартер антенны</span>
                  <p>Наши инженеры потратили годы на разработку уникальной в отрасли антенны. В результате получается более тонкая антенна, с равной, если не лучше, производительностью.</p>
                </div>
              </div>
              <div class="innovations-parts__simple-block__infographic row">
                <div class="innovations-parts__simple-block__infographic__graph">
                  <div class="innovations-parts__simple-block__infographic__graph__text">
                    <p>бумага</p>
                    <p>аллюминий</p>
                    <p>чип</p>
                  </div>
                  <div class="innovations-parts__simple-block__infographic__graph__text-abs">
                    <p>Всё просто!</p>
                  </div>
                </div>
                <div class="innovations-parts__simple-block__infographic__illustration">
                  <p>Наши продукты доступны в виде  клейких этикеткок и висячих наклеек</p>
                </div>
                <div class="innovations-parts__simple-block__infographic__text"><span>меньше отходов</span>
                  <p> </p>Tageos использует на <span class="percents">50% </span>меньше клея, без пластика и создает на <span class="percents">90% </span>меньше отходов, чем традиционные теги.
                </div>
              </div>
            </div>
            <div class="innovations-parts__assortment-block row no-gutters" id="assortment">
              <div class="innovations-parts__assortment-block__h2 row">
                <h2 class="innovations-parts__assortment-block__h2-h2"><span>02 </span>Ассортимент</h2>
                <h2 class="innovations-parts__assortment-block__h2-p slashbefore"><span>У нас есть полный набор RFID меток и RFID этикеток, соответствующих Вашим потребностям</span></h2>
              </div>
            </div>
            <div class="innovations-parts__assortment-block__items row">
              <div class="innovations-parts__assortment-block__items__item first">
                <p> <span>RFID Tag </span> произведет метки с Вашим логотипом и фирменным цветом</p>
              </div>
              <div class="innovations-parts__assortment-block__items__item second">
                <p>
                   В тех случаях когда бизнес оправдывает: <span>RFID Tag </span> может разработать метку по индивидуальному техническому заданию, включая дизайн антенны</p>
              </div>
              <div class="innovations-parts__assortment-block__items__item third">
                <p>Ваши метки могут быть произведены по индивидуальному дизайну с различными формами, размерами и запасом бумаги</p>
              </div>
            </div>
            <div class="innovations-parts__nonagent-block" id="nonagent">
              <div class="advantages col-xl-12">
                <div class="advantages__label technologies__label innovations__label row">
                  <div class="advantages__label__content innovations__label-content_left">
                    <h3 class="advantages__label__content__h3 bracket_slash innovations__bracket_slash">Без посредников</h3>
                    <p class="advantages__label__content__p">Мы предоставляем торговую марку RFID в различных материалах, совместимых с существующей традиционной этикеткой. Продукция является исключительно нашего производства.</p>
                  </div>
                  <div class="advantages__label__img innovations__label-img_left"><img src="img/levels_1.png" alt="image"></div>
                </div>
              </div>
            </div>
            <div class="innovations-parts__certificate-block d-flex" id="certificate">
              <div class="innovations-parts__certificate-block__certificates">
                <div class="innovations-parts__certificate-block__certificates__item"><img src="img/cert1.svg" alt="image"></div>
                <div class="innovations-parts__certificate-block__certificates__item"><img src="img/cert2.svg" alt="image"></div>
                <div class="innovations-parts__certificate-block__certificates__item"><img src="img/cert3.svg" alt="image"></div>
              </div>
              <div class="innovations-parts__certificate-block__line"></div>
              <div class="innovations-parts__certificate-block__content">
                <h3 class="advantages__label__content__h3">Сертифицированное качество</h3>
                <p class="advantages__label__content__p">Наши продукты и наше производственное оборудование отличаются инновативностью и лучшим качеством, а значит превосходной энергоэффективностью и долговечностью.</p>
              </div>
            </div>
          </div>
        </section>
        <div class="proposition col-xl-12">
          <div class="container">
            <div class="proposition-block__text">
              <h2 class="title-form">Получить предложение</h2>
              <p class="proposition-block__text__p">Оставьте ваши контактные данные</p>
            </div>
          </div>
          <form class="proposition-block__form">
            <div class="container">
              <div class="proposition-block__form__wrapper row">
                <div class="proposition-block__form__wrapper__input">
                  <input type="text" name="name" placeholder="Имя">
                  <input type="tel" name="tel" placeholder="Телефон">
                </div>
                <div class="proposition-block__form__wrapper__button">
                  <button name="submit" type="submit" value="Отправить">Отправить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-xl-5 mb-3 mb-md-0">
            <div class="footer__first-col"><a class="footer__link footer__link_light" href="#">Экономия за счет инноваций</a><a class="footer__link footer__link_light" href="#">Весь RFID под одной крышей</a><span class="footer__copyright">&#9400; RFIDtag.tech</span></div>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 mb-md-0">
            <div class="footer__second-col">
              <h3 class="footer__title">Продукция</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Этиктки</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Метки на метал</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Антенны</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Инлеи</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Смарт-карты</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Индивидуальное проектирование</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 mb-3 mb-md-0">
            <div class="footer__third-col">
              <h3 class="footer__title">Информация</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Технологии</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Применение</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Услуги</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Контакты	</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 mb-3 mb-md-0">
            <div class="footer__forth-col"><a class="footer__tel" href="tel:74885634487">+7 488 563 44 87</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')</script>
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="module/slick-carousel/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="module/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="module/custom_scroll_X/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
