src/pug/pages/labels.pug
extends ../templates/_head
include ../layout/_eos

block title
	| Labels
block content
	main
		.main.main-height.labels__main-height
			.container
				section.navigation-string.row
					a.navigation-string__a(href='') Главная
					span.navigation-string__span /
					a.navigation-string__a(href='') Этикетки
				section.banner-sticker.banner-labels__bg.row
					.banner-sticker__block.col-xl-12
						h1.title.banner-sticker__block__h1 Этикетки
						p.text-black.banner-sticker__block__p 100% бумажная основа Рабочий диапазон 860-960 МГц
		section
			.tabs-item.tabs-item__tools
				.container
					.row.d-flex.no-gutters
						.col-12.col-xs-12.col-sm-4
							.tabs-item__card
								.tabs-item__icon
									.tabs-item__icon-nides
								.text.tabs-item__title
									p Для любых потребностей
						.col-12.col-xs-12.col-sm-4
							.tabs-item__card
								.tabs-item__icon
									.tabs-item__icon-eco
								.text.tabs-item__title
									p Экологичная экономия
						.col-12.col-xs-12.col-sm-4
							.tabs-item__card
								.tabs-item__icon
									.tabs-item__icon-serf
								.text.tabs-item__title
									p Сертифицировано
		section
			.container
				h2.title.advantages__h2.label-advantages__h2
					span 01
					| Этикетки и бирки для любых потребностей
			.container
				.tabs-items__tools
					.row.d-flex.no-gutters.justify-content-between
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_100.png',
								number: '100',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Ювелирные изделия'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_110.png',
								number: '110',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Ювелирные изделия Здравоохранение'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_220.png',
								number: '220',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Одежда'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_300.png',
								number: '300',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Одежда'
							})
						.col-6.col-sm-6.col-md-2
							+eos({
								src: 'eos_400.png',
								number: '400',
								format: 'Формат',
								sticker: 'Наклейка',
								format2: 'Применение',
								sticker2: 'Одежда Логистика Отслеживание активов'
						})
						.col-6.col-sm-6.d-sm-block.d-xs-block.d-md-none
							.btn-more.btn-more__tools-sm
								.b-flex.justify-content-start
										.popular-type__a.btn-more__height.btn-more__height-sm
											a(href="") Смотреть спецификации
			.btn-more.btn-more__tools
				.row.justify-content-end
					.col-12.col-md-6.d-none.d-md-block
						.popular-type__a.btn-more__height
							a(href="") Смотреть спецификации
		section
			.label-eco.label-eco__tools
				.container
					h2.title.advantages__h2.label-advantages__h2
						span 02
						| Экологичная экономия
				.container
					.advantages__label.row.no-gutters.align-items-center.label-eco__advantages-tools
						.col-12.col-xs-12.col-sm-6
							.advantages__label__img.label-eco__advantages-img
								img(src='./img/hue-saturation.png', alt="image")
						.col-12.col-xs-12.col-sm-6
							.advantages__label__content.label-eco__advantages-content.bracket_slash.advantages__label_slash
								h3.advantages__label__content__h3 Меньше отходов, больше сбережений
								p.advantages__label__content__p Для производства этикеток RFIDTag минимизируется исползование пластика, клея, что делает ее более экономичной и безопасной для окружающей среды
		section
			.label-serf
				.container
					h2.title.advantages__h2.label-advantages__h2.label-serf__title
						span 03
						| Продукция сертифицирована
				.container
					.advantages__label.row.no-gutters.align-items-center.label-eco__advantages-tools
						.col-12.col-xs-12.col-sm-6
							.advantages__label__content.label-eco__advantages-content
								h3.advantages__label__content__h3 Сертифицированное качество
								p.advantages__label__content__p Наши продукты и наше производственное оборудование отличаются инновативностью и лучшим качеством, а значит превосходной энергоэффективностью и долговечностью.
						.col-12.col-xs-12.col-sm-6
							.advantages__label__img.label-serf__advantages-img
								img(src='./img/label-serf.png', alt="image")
		section
			.container
				.proposition-block__text.label-proposition__tools
					h2.title-form Получить предложение
			.btn-more.btn-more__tools.label-proposition__btn-more
				.row.justify-content-end
					.col-12.col-md-5
						.title.btn-more__content
							p Пройдите небольшой опрос, который займет всего
								span 10 минут
					.col-12.col-md-7
						.popular-type__a.btn-more__height
							a(href="") Пройти опрос

src/labels.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="module/slick-carousel/slick/slick.css">
    <title>Labels
    </title>
  </head>
  <body class="modal-bg">
    <header class="header navbar navbar-dark">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-4 col-md-6 col-xl-5 d-flex align-items-center">
            <div class="logo"><img src="img/logo.png" alt="Logo"></div>
            <div class="logo__descr text">
              <p>Снижает стоимость, не качество    </p>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="header__callback d-flex flex-column"><a class="header__num" href="tel:74885634487">+7 488 563 44 87</a><a class="d-flex align-items-center" href="tel:74885634487"><span class="js-callback">Обратный звонок</span></a></div>
            <div class="header__lang d-flex align-items-center"><span class="header__lang-item js-lang">Ru</span><span class="header__lang-slash">/</span><span class="header__lang-item header__lang-item_chosen js-lang">Eng</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
        </div>
      </div>
    </header>
    <nav class="container-fluid main-nav">
      <ul class="row">
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Экономия за счет инноваций</span></div>
        </li>
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Весь RFID под одной крышей</span></div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Этикетки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Антенны</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Инлеи</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Смарт-карты</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Индивидуальное проектирование</a></li>
            </ul><span class="main-nav__item-text">Продукция</span>
          </div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Технологии</a></li>
              <li class="main-nav__submenu-item"><a href="#">Применение</a></li>
              <li class="main-nav__submenu-item"><a href="#">Услуги</a></li>
            </ul><span class="main-nav__item-text">Информация</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light main-nav__mobile">
      <div class="collapse navbar-collapse main-nav__mobile-collaps" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Экономия за счет инноваций<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Весь RFID под одной крышей</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Этикетки</a><a class="dropdown-item" href="#">Метки</a><a class="dropdown-item" href="#">RFID Антенны</a><a class="dropdown-item" href="#">RFID Инлеи</a><a class="dropdown-item" href="#">RFID Метки</a><a class="dropdown-item" href="#">Смарт-карты</a><a class="dropdown-item" href="#">Индивидуальное проектирование</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2"><a class="dropdown-item" href="#">Технологии</a><a class="dropdown-item" href="#">Применение</a><a class="dropdown-item" href="#">Услуги</a></div>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="main main-height labels__main-height">
        <div class="container">
          <section class="navigation-string row"><a class="navigation-string__a" href="">Главная</a><span class="navigation-string__span">/</span><a class="navigation-string__a" href="">Этикетки</a></section>
          <section class="banner-sticker banner-labels__bg row">
            <div class="banner-sticker__block col-xl-12">
              <h1 class="title banner-sticker__block__h1">Этикетки</h1>
              <p class="text-black banner-sticker__block__p">100% бумажная основа Рабочий диапазон 860-960 МГц</p>
            </div>
          </section>
        </div>
      </div>
      <section>
        <div class="tabs-item tabs-item__tools">
          <div class="container">
            <div class="row d-flex no-gutters">
              <div class="col-12 col-xs-12 col-sm-4">
                <div class="tabs-item__card">
                  <div class="tabs-item__icon">
                    <div class="tabs-item__icon-nides"></div>
                  </div>
                  <div class="text tabs-item__title">
                    <p>Для любых потребностей</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xs-12 col-sm-4">
                <div class="tabs-item__card">
                  <div class="tabs-item__icon">
                    <div class="tabs-item__icon-eco"></div>
                  </div>
                  <div class="text tabs-item__title">
                    <p>Экологичная экономия</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xs-12 col-sm-4">
                <div class="tabs-item__card">
                  <div class="tabs-item__icon">
                    <div class="tabs-item__icon-serf"></div>
                  </div>
                  <div class="text tabs-item__title">
                    <p>Сертифицировано</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <h2 class="title advantages__h2 label-advantages__h2"><span>01</span>Этикетки и бирки для любых потребностей</h2>
        </div>
        <div class="container">
          <div class="tabs-items__tools">
            <div class="row d-flex no-gutters justify-content-between">
              <div class="col-6 col-sm-6 col-md-2">
                <div class="eos-card eos-card__tools">
                  <div class="eos-card__icon">
                    <div class="eos-card__icon-img" style="background-image: url(img/eos_100.png)"></div>
                  </div>
                  <div class="eos-card__number bracket eos-card__number_bracket">
                    <p>EOS -</p><span>100</span>
                  </div>
                  <div class="eos-card__content">
                    <div class="eos-card__title">
                      <p>Формат</p><span>Наклейка</span>
                    </div>
                    <div class="eos-card__title">
                      <p>Применение</p><span>Ювелирные изделия</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-2">
                <div class="eos-card eos-card__tools">
                  <div class="eos-card__icon">
                    <div class="eos-card__icon-img" style="background-image: url(img/eos_110.png)"></div>
                  </div>
                  <div class="eos-card__number bracket eos-card__number_bracket">
                    <p>EOS -</p><span>110</span>
                  </div>
                  <div class="eos-card__content">
                    <div class="eos-card__title">
                      <p>Формат</p><span>Наклейка</span>
                    </div>
                    <div class="eos-card__title">
                      <p>Применение</p><span>Ювелирные изделия Здравоохранение</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-2">
                <div class="eos-card eos-card__tools">
                  <div class="eos-card__icon">
                    <div class="eos-card__icon-img" style="background-image: url(img/eos_220.png)"></div>
                  </div>
                  <div class="eos-card__number bracket eos-card__number_bracket">
                    <p>EOS -</p><span>220</span>
                  </div>
                  <div class="eos-card__content">
                    <div class="eos-card__title">
                      <p>Формат</p><span>Наклейка</span>
                    </div>
                    <div class="eos-card__title">
                      <p>Применение</p><span>Одежда</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-2">
                <div class="eos-card eos-card__tools">
                  <div class="eos-card__icon">
                    <div class="eos-card__icon-img" style="background-image: url(img/eos_300.png)"></div>
                  </div>
                  <div class="eos-card__number bracket eos-card__number_bracket">
                    <p>EOS -</p><span>300</span>
                  </div>
                  <div class="eos-card__content">
                    <div class="eos-card__title">
                      <p>Формат</p><span>Наклейка</span>
                    </div>
                    <div class="eos-card__title">
                      <p>Применение</p><span>Одежда</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-2">
                <div class="eos-card eos-card__tools">
                  <div class="eos-card__icon">
                    <div class="eos-card__icon-img" style="background-image: url(img/eos_400.png)"></div>
                  </div>
                  <div class="eos-card__number bracket eos-card__number_bracket">
                    <p>EOS -</p><span>400</span>
                  </div>
                  <div class="eos-card__content">
                    <div class="eos-card__title">
                      <p>Формат</p><span>Наклейка</span>
                    </div>
                    <div class="eos-card__title">
                      <p>Применение</p><span>Одежда Логистика Отслеживание активов</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-sm-6 d-sm-block d-xs-block d-md-none">
                <div class="btn-more btn-more__tools-sm">
                  <div class="b-flex justify-content-start">
                    <div class="popular-type__a btn-more__height btn-more__height-sm"><a href="">Смотреть спецификации</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-more btn-more__tools">
          <div class="row justify-content-end">
            <div class="col-12 col-md-6 d-none d-md-block">
              <div class="popular-type__a btn-more__height"><a href="">Смотреть спецификации</a></div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="label-eco label-eco__tools">
          <div class="container">
            <h2 class="title advantages__h2 label-advantages__h2"><span>02</span>Экологичная экономия</h2>
          </div>
          <div class="container">
            <div class="advantages__label row no-gutters align-items-center label-eco__advantages-tools">
              <div class="col-12 col-xs-12 col-sm-6">
                <div class="advantages__label__img label-eco__advantages-img"><img src="./img/hue-saturation.png" alt="image"></div>
              </div>
              <div class="col-12 col-xs-12 col-sm-6">
                <div class="advantages__label__content label-eco__advantages-content bracket_slash advantages__label_slash">
                  <h3 class="advantages__label__content__h3">Меньше отходов, больше сбережений</h3>
                  <p class="advantages__label__content__p">Для производства этикеток RFIDTag минимизируется исползование пластика, клея, что делает ее более экономичной и безопасной для окружающей среды</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="label-serf">
          <div class="container">
            <h2 class="title advantages__h2 label-advantages__h2 label-serf__title"><span>03</span>Продукция сертифицирована</h2>
          </div>
          <div class="container">
            <div class="advantages__label row no-gutters align-items-center label-eco__advantages-tools">
              <div class="col-12 col-xs-12 col-sm-6">
                <div class="advantages__label__content label-eco__advantages-content">
                  <h3 class="advantages__label__content__h3">Сертифицированное качество</h3>
                  <p class="advantages__label__content__p">Наши продукты и наше производственное оборудование отличаются инновативностью и лучшим качеством, а значит превосходной энергоэффективностью и долговечностью.</p>
                </div>
              </div>
              <div class="col-12 col-xs-12 col-sm-6">
                <div class="advantages__label__img label-serf__advantages-img"><img src="./img/label-serf.png" alt="image"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="proposition-block__text label-proposition__tools">
            <h2 class="title-form">Получить предложение</h2>
          </div>
        </div>
        <div class="btn-more btn-more__tools label-proposition__btn-more">
          <div class="row justify-content-end">
            <div class="col-12 col-md-5">
              <div class="title btn-more__content">
                <p>Пройдите небольшой опрос, который займет всего<span>10 минут</span></p>
              </div>
            </div>
            <div class="col-12 col-md-7">
              <div class="popular-type__a btn-more__height"><a href="">Пройти опрос</a></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-xl-5 mb-3 mb-md-0">
            <div class="footer__first-col"><a class="footer__link footer__link_light" href="#">Экономия за счет инноваций</a><a class="footer__link footer__link_light" href="#">Весь RFID под одной крышей</a><span class="footer__copyright">&#9400; RFIDtag.tech</span></div>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 mb-md-0">
            <div class="footer__second-col">
              <h3 class="footer__title">Продукция</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Этиктки</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Метки на метал</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Антенны</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Инлеи</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Смарт-карты</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Индивидуальное проектирование</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 mb-3 mb-md-0">
            <div class="footer__third-col">
              <h3 class="footer__title">Информация</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Технологии</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Применение</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Услуги</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Контакты	</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 mb-3 mb-md-0">
            <div class="footer__forth-col"><a class="footer__tel" href="tel:74885634487">+7 488 563 44 87</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')</script>
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="module/slick-carousel/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="module/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="module/custom_scroll_X/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
