src/pug/pages/main.pug
extends ../templates/_head

block title
	| RFIDTag
block content
	main.main-page
		section#carouselFRID.main-page__slider.carousel.slide.carousel-fade(data-ride="carousel")
			.carousel-inner
				.main-page__slider-item.carousel-item.active
					.slider-item__wrapper.d-flex.flex-column.flex-md-row
						.slider-item_left
							figure.slider-item__img
								img(src="img/layer_1.png" alt="Slider Image")
							.big-blue-button
						.slider-item_right
							.slider-item__content
								a.slider-item__content-link(href="#") RFIDtag.com
								h1.slider-item__content-title Экономия за счет инноваций
							.big-blue-button.big-blue-button_opac
								a.slider-item__more(href="#") Подробнее
				.main-page__slider-item.carousel-item
					.slider-item__wrapper.d-flex.flex-column.flex-md-row
						.slider-item_left
							figure.slider-item__img
								img(src="img/layer_1.png" alt="Slider Image")
							.big-blue-button
						.slider-item_right
							.slider-item__content
								a.slider-item__content-link(href="#") RFIDtag.com
								h1.slider-item__content-title Lorem Ipsum
							.big-blue-button.big-blue-button_opac
								a.slider-item__more(href="#") О Нас
				.main-page__slider-item.carousel-item
					.slider-item__wrapper.d-flex.flex-column.flex-md-row
						.slider-item_left
							figure.slider-item__img
								img(src="img/layer_1.png" alt="Slider Image")
							.big-blue-button
						.slider-item_right
							.slider-item__content
								a.slider-item__content-link(href="#") RFIDtag.com
								h1.slider-item__content-title Lorem ipsum dolor sit amet.
							.big-blue-button.big-blue-button_opac
								a.slider-item__more(href="#") Подробнее
			a.carousel-control__arrow-wrapper.carousel-control-prev(href="#carouselFRID" role="button" data-slide="prev")
				span.carousel-control__arrow.carousel-control-prev-icon(aria-hidden="true")
				span.sr-only Previous
			a.carousel-control__arrow-wrapper.carousel-control-next(href="#carouselFRID" role="button" data-slide="next")
				span.carousel-control__arrow.carousel-control-next-icon(aria-hidden="true")
				span.sr-only Next
		section.main-page__content
			.container
				.row
					.col-lg-12.col-xl-11
						h2.title.bracket.main-page__content-title Полный спектр #[span RFID продукции,] готовой к использованию в вашем бизнесе
				article.article
					.row.no-gutters
						.col-lg-6
							.article__content
								.row.d-flex.justify-content-center
									.col-lg-7.col-xl-6
										.article__content-wrapper.mb-3.mb-lg-0
											h3.article__content-title Этикетки
											.article__content-text 
												p Используя специальную машину для конвертирования и ламинирования, сухую или влажную инкрустацию можно сделать в качестве окончательной клейкой этикетки с кремниевым вкладышем.
												span.article__content-num 01
						.col-lg-6
							figure.article__img
								img(src="img/layer_12.png" alt="Content Image")
							.big-blue-button
								a.slider-item__more(href="#") Подробнее
				article.article
					.row.no-gutters
						.col-lg-6.mb-3.mb-lg-0
							figure.article__img
								img(src="img/5-layers.png" alt="Content Image")
							.big-blue-button
								a.slider-item__more(href="#") Подробнее
						.col-lg-6
							.article__more-product.d-flex.flex-column.justify-content-between
								.article__content
									.row.d-flex.justify-content-center
										.col-lg-7.col-xl-6
											.article__content-wrapper.mb-3.mb-lg-0
												h3.article__content-title Метки на метал
												.article__content-text 
													p Используя специальную машину для конвертирования и ламинирования, сухую или влажную инкрустацию можно сделать в качестве окончательной клейкой этикетки с кремниевым вкладышем.
													span.article__content-num.article__content-num_right 02
								.big-blue-button.big-blue-button_opac.article__big-blue-button
									a.slider-item__more.article__slider-item__more.js-more-btn(href="#") Больше продукции
			.more-products
				.more-products__wrapper
					.container
						.more-products__items.d-flex.flex-wrap.flex-sm-nowrap.justify-content-around.justify-content-sm-start
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_4.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption RFID Антены
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_8.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption RFID Инлеи
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_6.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption RFID Метки
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_7.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption Смарт карты
							.more-products__item
								figure.more-products__figure
									img(src="img/layer_8.png" alt="Products Image")
									.more-products__figure-overlay.d-flex.justify-content-center.align-items-center
										a.slider-item__more.more-products__figure-more(href="#") Подробнее
								.more-products__figcaption Индивидуальное проектирование
		.proposition
			.container
				.proposition-block__text
					h2.title-form Получить предложение				
					p.proposition-block__text__p Оставьте ваши контактные данные
			form.proposition-block__form
				.container
					.proposition-block__form__wrapper.row
						.proposition-block__form__wrapper__input
							input(type='text' name='name' placeholder='Имя')
							input(type='tel' name='tel' placeholder='Телефон')
						.proposition-block__form__wrapper__button
							button(name='submit' type='submit' value="Отправить") Отправить
	
	.modal-callback
		.modal-callback__wrapper
			span.modal-callback__close.js-callback-close
			p.modal-callback__title Оставьте ваши контактные данные
			form.modal-callback__form
				.proposition-block__form__wrapper__input.modal-callback__input-group
					input(type='text' name='name' placeholder='Имя')
					input(type='tel' name='tel' placeholder='Телефон')
					input.modal-callback__send(type="submit" value="Отправить")

src/main.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="module/slick-carousel/slick/slick.css">
    <title>RFIDTag
    </title>
  </head>
  <body class="modal-bg">
    <header class="header navbar navbar-dark">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-4 col-md-6 col-xl-5 d-flex align-items-center">
            <div class="logo"><img src="img/logo.png" alt="Logo"></div>
            <div class="logo__descr text">
              <p>Снижает стоимость, не качество    </p>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="header__callback d-flex flex-column"><a class="header__num" href="tel:74885634487">+7 488 563 44 87</a><a class="d-flex align-items-center" href="tel:74885634487"><span class="js-callback">Обратный звонок</span></a></div>
            <div class="header__lang d-flex align-items-center"><span class="header__lang-item js-lang">Ru</span><span class="header__lang-slash">/</span><span class="header__lang-item header__lang-item_chosen js-lang">Eng</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
        </div>
      </div>
    </header>
    <nav class="container-fluid main-nav">
      <ul class="row">
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Экономия за счет инноваций</span></div>
        </li>
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Весь RFID под одной крышей</span></div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Этикетки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Антенны</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Инлеи</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Смарт-карты</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Индивидуальное проектирование</a></li>
            </ul><span class="main-nav__item-text">Продукция</span>
          </div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Технологии</a></li>
              <li class="main-nav__submenu-item"><a href="#">Применение</a></li>
              <li class="main-nav__submenu-item"><a href="#">Услуги</a></li>
            </ul><span class="main-nav__item-text">Информация</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light main-nav__mobile">
      <div class="collapse navbar-collapse main-nav__mobile-collaps" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Экономия за счет инноваций<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Весь RFID под одной крышей</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Этикетки</a><a class="dropdown-item" href="#">Метки</a><a class="dropdown-item" href="#">RFID Антенны</a><a class="dropdown-item" href="#">RFID Инлеи</a><a class="dropdown-item" href="#">RFID Метки</a><a class="dropdown-item" href="#">Смарт-карты</a><a class="dropdown-item" href="#">Индивидуальное проектирование</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2"><a class="dropdown-item" href="#">Технологии</a><a class="dropdown-item" href="#">Применение</a><a class="dropdown-item" href="#">Услуги</a></div>
          </li>
        </ul>
      </div>
    </nav>
    <main class="main-page">
      <section class="main-page__slider carousel slide carousel-fade" id="carouselFRID" data-ride="carousel">
        <div class="carousel-inner">
          <div class="main-page__slider-item carousel-item active">
            <div class="slider-item__wrapper d-flex flex-column flex-md-row">
              <div class="slider-item_left">
                <figure class="slider-item__img"><img src="img/layer_1.png" alt="Slider Image"></figure>
                <div class="big-blue-button"></div>
              </div>
              <div class="slider-item_right">
                <div class="slider-item__content"><a class="slider-item__content-link" href="#">RFIDtag.com</a>
                  <h1 class="slider-item__content-title">Экономия за счет инноваций</h1>
                </div>
                <div class="big-blue-button big-blue-button_opac"><a class="slider-item__more" href="#">Подробнее</a></div>
              </div>
            </div>
          </div>
          <div class="main-page__slider-item carousel-item">
            <div class="slider-item__wrapper d-flex flex-column flex-md-row">
              <div class="slider-item_left">
                <figure class="slider-item__img"><img src="img/layer_1.png" alt="Slider Image"></figure>
                <div class="big-blue-button"></div>
              </div>
              <div class="slider-item_right">
                <div class="slider-item__content"><a class="slider-item__content-link" href="#">RFIDtag.com</a>
                  <h1 class="slider-item__content-title">Lorem Ipsum</h1>
                </div>
                <div class="big-blue-button big-blue-button_opac"><a class="slider-item__more" href="#">О Нас</a></div>
              </div>
            </div>
          </div>
          <div class="main-page__slider-item carousel-item">
            <div class="slider-item__wrapper d-flex flex-column flex-md-row">
              <div class="slider-item_left">
                <figure class="slider-item__img"><img src="img/layer_1.png" alt="Slider Image"></figure>
                <div class="big-blue-button"></div>
              </div>
              <div class="slider-item_right">
                <div class="slider-item__content"><a class="slider-item__content-link" href="#">RFIDtag.com</a>
                  <h1 class="slider-item__content-title">Lorem ipsum dolor sit amet.</h1>
                </div>
                <div class="big-blue-button big-blue-button_opac"><a class="slider-item__more" href="#">Подробнее</a></div>
              </div>
            </div>
          </div>
        </div><a class="carousel-control__arrow-wrapper carousel-control-prev" href="#carouselFRID" role="button" data-slide="prev"><span class="carousel-control__arrow carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control__arrow-wrapper carousel-control-next" href="#carouselFRID" role="button" data-slide="next"><span class="carousel-control__arrow carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
      </section>
      <section class="main-page__content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-xl-11">
              <h2 class="title bracket main-page__content-title">Полный спектр <span>RFID продукции,</span> готовой к использованию в вашем бизнесе</h2>
            </div>
          </div>
          <article class="article">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <div class="article__content">
                  <div class="row d-flex justify-content-center">
                    <div class="col-lg-7 col-xl-6">
                      <div class="article__content-wrapper mb-3 mb-lg-0">
                        <h3 class="article__content-title">Этикетки</h3>
                        <div class="article__content-text"> 
                          <p>Используя специальную машину для конвертирования и ламинирования, сухую или влажную инкрустацию можно сделать в качестве окончательной клейкой этикетки с кремниевым вкладышем.</p><span class="article__content-num">01</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <figure class="article__img"><img src="img/layer_12.png" alt="Content Image"></figure>
                <div class="big-blue-button"><a class="slider-item__more" href="#">Подробнее</a></div>
              </div>
            </div>
          </article>
          <article class="article">
            <div class="row no-gutters">
              <div class="col-lg-6 mb-3 mb-lg-0">
                <figure class="article__img"><img src="img/5-layers.png" alt="Content Image"></figure>
                <div class="big-blue-button"><a class="slider-item__more" href="#">Подробнее</a></div>
              </div>
              <div class="col-lg-6">
                <div class="article__more-product d-flex flex-column justify-content-between">
                  <div class="article__content">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-7 col-xl-6">
                        <div class="article__content-wrapper mb-3 mb-lg-0">
                          <h3 class="article__content-title">Метки на метал</h3>
                          <div class="article__content-text"> 
                            <p>Используя специальную машину для конвертирования и ламинирования, сухую или влажную инкрустацию можно сделать в качестве окончательной клейкой этикетки с кремниевым вкладышем.</p><span class="article__content-num article__content-num_right">02</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="big-blue-button big-blue-button_opac article__big-blue-button"><a class="slider-item__more article__slider-item__more js-more-btn" href="#">Больше продукции</a></div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="more-products">
          <div class="more-products__wrapper">
            <div class="container">
              <div class="more-products__items d-flex flex-wrap flex-sm-nowrap justify-content-around justify-content-sm-start">
                <div class="more-products__item">
                  <figure class="more-products__figure"><img src="img/layer_4.png" alt="Products Image">
                    <div class="more-products__figure-overlay d-flex justify-content-center align-items-center"><a class="slider-item__more more-products__figure-more" href="#">Подробнее</a></div>
                  </figure>
                  <div class="more-products__figcaption">RFID Антены</div>
                </div>
                <div class="more-products__item">
                  <figure class="more-products__figure"><img src="img/layer_8.png" alt="Products Image">
                    <div class="more-products__figure-overlay d-flex justify-content-center align-items-center"><a class="slider-item__more more-products__figure-more" href="#">Подробнее</a></div>
                  </figure>
                  <div class="more-products__figcaption">RFID Инлеи</div>
                </div>
                <div class="more-products__item">
                  <figure class="more-products__figure"><img src="img/layer_6.png" alt="Products Image">
                    <div class="more-products__figure-overlay d-flex justify-content-center align-items-center"><a class="slider-item__more more-products__figure-more" href="#">Подробнее</a></div>
                  </figure>
                  <div class="more-products__figcaption">RFID Метки</div>
                </div>
                <div class="more-products__item">
                  <figure class="more-products__figure"><img src="img/layer_7.png" alt="Products Image">
                    <div class="more-products__figure-overlay d-flex justify-content-center align-items-center"><a class="slider-item__more more-products__figure-more" href="#">Подробнее</a></div>
                  </figure>
                  <div class="more-products__figcaption">Смарт карты</div>
                </div>
                <div class="more-products__item">
                  <figure class="more-products__figure"><img src="img/layer_8.png" alt="Products Image">
                    <div class="more-products__figure-overlay d-flex justify-content-center align-items-center"><a class="slider-item__more more-products__figure-more" href="#">Подробнее</a></div>
                  </figure>
                  <div class="more-products__figcaption">Индивидуальное проектирование</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="proposition">
        <div class="container">
          <div class="proposition-block__text">
            <h2 class="title-form">Получить предложение				</h2>
            <p class="proposition-block__text__p">Оставьте ваши контактные данные</p>
          </div>
        </div>
        <form class="proposition-block__form">
          <div class="container">
            <div class="proposition-block__form__wrapper row">
              <div class="proposition-block__form__wrapper__input">
                <input type="text" name="name" placeholder="Имя">
                <input type="tel" name="tel" placeholder="Телефон">
              </div>
              <div class="proposition-block__form__wrapper__button">
                <button name="submit" type="submit" value="Отправить">Отправить</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
    <div class="modal-callback">
      <div class="modal-callback__wrapper"><span class="modal-callback__close js-callback-close"></span>
        <p class="modal-callback__title">Оставьте ваши контактные данные</p>
        <form class="modal-callback__form">
          <div class="proposition-block__form__wrapper__input modal-callback__input-group">
            <input type="text" name="name" placeholder="Имя">
            <input type="tel" name="tel" placeholder="Телефон">
            <input class="modal-callback__send" type="submit" value="Отправить">
          </div>
        </form>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-xl-5 mb-3 mb-md-0">
            <div class="footer__first-col"><a class="footer__link footer__link_light" href="#">Экономия за счет инноваций</a><a class="footer__link footer__link_light" href="#">Весь RFID под одной крышей</a><span class="footer__copyright">&#9400; RFIDtag.tech</span></div>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 mb-md-0">
            <div class="footer__second-col">
              <h3 class="footer__title">Продукция</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Этиктки</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Метки на метал</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Антенны</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Инлеи</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Смарт-карты</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Индивидуальное проектирование</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 mb-3 mb-md-0">
            <div class="footer__third-col">
              <h3 class="footer__title">Информация</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Технологии</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Применение</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Услуги</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Контакты	</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 mb-3 mb-md-0">
            <div class="footer__forth-col"><a class="footer__tel" href="tel:74885634487">+7 488 563 44 87</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')</script>
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="module/slick-carousel/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="module/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="module/custom_scroll_X/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
