src/pug/pages/one-roof.pug
extends ../templates/_head

block title
  | One Roof
block content
  main.one-roof
    .container
      section.navigation-string.row
        a.navigation-string__a(href='#') Главная
        span.navigation-string__span /
        a.navigation-string__a(href='#') Весь RFID под одной крышей
      section.banner-sticker.banner-specifications__bg.banner-innovation__bg.row.one-roof__bg
        .banner-sticker__block.col-xl-12
          h1.title.banner-sticker__block__h1 Весь RFID
            span.banner-specifications__bg__span под одной крышей
          p.text-black.banner-sticker__block__p Наш бизнес был построен как система с минимальными издержками, связанными с проектированием и производством RFID меток
    section.app-banner__links
      .container
        .app-banner__links__items.inn-banner__links__items.row
          a.app-banner__links__items__item.simple-a.fool-loop.anchor(href='#loop-section') Полный цикл
          a.app-banner__links__items__item.assort-a.free-examples.anchor(href='#free-samples') Бесплатные образцы
          a.app-banner__links__items__item.nonagent-a.scalable-production.anchor(href='#scalable-production') Масштабируемое производство
          a.app-banner__links__items__item.certificate-a.our-partners.anchor(href='#our-partners') Наши партнеры в мире
    section#loop-section.loop-section
      .container
        h2.title.advantages__h2.loop-section__title #[span 01] Полный цикл
        .loop-section__bg
        .loop-section__wrapper
          .row.d-flex.justify-content-md-start.justify-content-xl-between.no-gutters
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Проектирование #[br] Дизайн #[span 01]
                span.loop-section__item-date 1 неделя
                figure.loop-section__item-img
                  img(src="img/pic_1.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Тех. задание
                    li.loop-section__list-item Чертёж
                    li.loop-section__list-item Спецификация
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Изготовление #[br] образцов #[span 02]
                span.loop-section__item-date 1 неделя
                figure.loop-section__item-img
                  img(src="img/pic_2.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Измерения
                    li.loop-section__list-item Натурные тесты
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Производство #[br] RFID-антены #[span 03]
                span.loop-section__item-date 1 неделя
                figure.loop-section__item-img
                  img(src="img/pic_3.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Lamination
                    li.loop-section__list-item Cleaning
                    li.loop-section__list-item Printing
                    li.loop-section__list-item Etching
                    li.loop-section__list-item Inspection
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Производство #[br] RFID-меток #[span 04]
                span.loop-section__item-date 2 недели
                figure.loop-section__item-img
                  img(src="img/pic_4.png" alt="Image")
                .loop-section__item-descr
                  ul.loop-section__list   
                    li.loop-section__list-item Flip chip Bonding
                    li.loop-section__list-item Converting
                    li.loop-section__list-item Roll on glue
                    li.loop-section__list-item Die cutting
                    li.loop-section__list-item Slitting
                    li.loop-section__list-item Testing
                    li.loop-section__list-item RFID Label
            .col-6.col-md-4.col-xl-2
              .loop-section__item
                h4.loop-section__item-name Упаковка #[br] Доставка #[span 05]
                span.loop-section__item-date 1-2 недели
                figure.loop-section__item-img
                  img(src="img/pic_5.png" alt="Image")
                .loop-section__item-descr

    section#free-samples.free-samples
      .container
        h2.title.advantages__h2.loop-section__title #[span 02] Бесплатные образцы
        .row
          .col-lg-6
            .free-samples__text
              p Свяжитесь с нами для заказа бесплатных образцов, и мы незамедлительно отправим их вам где-бы вы не находились
      form.proposition-block__form
        .container
          .proposition-block__form__wrapper.row
            .proposition-block__form__wrapper__input
              input(type='text' name='name' placeholder='Имя')
              input(type='tel' name='tel' placeholder='Телефон')
            .proposition-block__form__wrapper__button
              button(name='submit' type='submit' value="Отправить") Связаться
    .container
      #scalable-production.advantages.col-xl-12
        .advantages__label.technologies__label.one-roof__label.row.justify-content-end
          .advantages__label__content.technologies__label-content.technologies__label-content_left.order-last.order-lg-first
            h3.advantages__label__content__h3.bracket.bracket_slash Масштабируемое производство
            p.advantages__label__content__p.one-roof__label-p Наша производственная мощность входит в TOP 3 в мировом масштабе и способна удовлетворить спрос на сотни миллионов меток.
          .advantages__label__img.technologies__label-img.technologies__label-img_left
            img(src='img/layer_52.png' alt="Image")
      section#our-partners.partners-map
        h2.production__title.partners-map__title #[span Наши партнёры в мире]
        .partners-map__wrapper
        .partners-map__brands
          .row.d-flex.no-gutters.justify-content-between
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_45.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_46.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_47.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/hover.png" alt="Partner Image")
            .col-6.col-sm-2
              figure.partners-map__brands-item
                a(href="#"): img(src="img/brands/Layer_49.png" alt="Partner Image")
  .proposition
    .container
      .proposition-block__text
        h2.title-form Получить предложение				
        p.proposition-block__text__p Оставьте ваши контактные данные
    form.proposition-block__form
      .container
        .proposition-block__form__wrapper.row
          .proposition-block__form__wrapper__input
            input(type='text' name='name' placeholder='Имя')
            input(type='tel' name='tel' placeholder='Телефон')
          .proposition-block__form__wrapper__button
            button(name='submit' type='submit' value="Отправить") Отправить



              
				

src/one-roof.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="module/slick-carousel/slick/slick.css">
    <title>One Roof
    </title>
  </head>
  <body class="modal-bg">
    <header class="header navbar navbar-dark">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-4 col-md-6 col-xl-5 d-flex align-items-center">
            <div class="logo"><img src="img/logo.png" alt="Logo"></div>
            <div class="logo__descr text">
              <p>Снижает стоимость, не качество    </p>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="header__callback d-flex flex-column"><a class="header__num" href="tel:74885634487">+7 488 563 44 87</a><a class="d-flex align-items-center" href="tel:74885634487"><span class="js-callback">Обратный звонок</span></a></div>
            <div class="header__lang d-flex align-items-center"><span class="header__lang-item js-lang">Ru</span><span class="header__lang-slash">/</span><span class="header__lang-item header__lang-item_chosen js-lang">Eng</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
        </div>
      </div>
    </header>
    <nav class="container-fluid main-nav">
      <ul class="row">
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Экономия за счет инноваций</span></div>
        </li>
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Весь RFID под одной крышей</span></div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Этикетки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Антенны</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Инлеи</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Смарт-карты</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Индивидуальное проектирование</a></li>
            </ul><span class="main-nav__item-text">Продукция</span>
          </div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Технологии</a></li>
              <li class="main-nav__submenu-item"><a href="#">Применение</a></li>
              <li class="main-nav__submenu-item"><a href="#">Услуги</a></li>
            </ul><span class="main-nav__item-text">Информация</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light main-nav__mobile">
      <div class="collapse navbar-collapse main-nav__mobile-collaps" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Экономия за счет инноваций<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Весь RFID под одной крышей</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Этикетки</a><a class="dropdown-item" href="#">Метки</a><a class="dropdown-item" href="#">RFID Антенны</a><a class="dropdown-item" href="#">RFID Инлеи</a><a class="dropdown-item" href="#">RFID Метки</a><a class="dropdown-item" href="#">Смарт-карты</a><a class="dropdown-item" href="#">Индивидуальное проектирование</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2"><a class="dropdown-item" href="#">Технологии</a><a class="dropdown-item" href="#">Применение</a><a class="dropdown-item" href="#">Услуги</a></div>
          </li>
        </ul>
      </div>
    </nav>
    <main class="one-roof">
      <div class="container">
        <section class="navigation-string row"><a class="navigation-string__a" href="#">Главная</a><span class="navigation-string__span">/</span><a class="navigation-string__a" href="#">Весь RFID под одной крышей</a></section>
        <section class="banner-sticker banner-specifications__bg banner-innovation__bg row one-roof__bg">
          <div class="banner-sticker__block col-xl-12">
            <h1 class="title banner-sticker__block__h1">Весь RFID<span class="banner-specifications__bg__span">под одной крышей</span></h1>
            <p class="text-black banner-sticker__block__p">Наш бизнес был построен как система с минимальными издержками, связанными с проектированием и производством RFID меток</p>
          </div>
        </section>
      </div>
      <section class="app-banner__links">
        <div class="container">
          <div class="app-banner__links__items inn-banner__links__items row"><a class="app-banner__links__items__item simple-a fool-loop anchor" href="#loop-section">Полный цикл</a><a class="app-banner__links__items__item assort-a free-examples anchor" href="#free-samples">Бесплатные образцы</a><a class="app-banner__links__items__item nonagent-a scalable-production anchor" href="#scalable-production">Масштабируемое производство</a><a class="app-banner__links__items__item certificate-a our-partners anchor" href="#our-partners">Наши партнеры в мире</a></div>
        </div>
      </section>
      <section class="loop-section" id="loop-section">
        <div class="container">
          <h2 class="title advantages__h2 loop-section__title"><span>01</span> Полный цикл</h2>
          <div class="loop-section__bg"></div>
          <div class="loop-section__wrapper">
            <div class="row d-flex justify-content-md-start justify-content-xl-between no-gutters">
              <div class="col-6 col-md-4 col-xl-2">
                <div class="loop-section__item">
                  <h4 class="loop-section__item-name">Проектирование <br> Дизайн <span>01</span></h4><span class="loop-section__item-date">1 неделя</span>
                  <figure class="loop-section__item-img"><img src="img/pic_1.png" alt="Image"></figure>
                  <div class="loop-section__item-descr">
                    <ul class="loop-section__list">  
                      <li class="loop-section__list-item">Тех. задание</li>
                      <li class="loop-section__list-item">Чертёж</li>
                      <li class="loop-section__list-item">Спецификация</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-2">
                <div class="loop-section__item">
                  <h4 class="loop-section__item-name">Изготовление <br> образцов <span>02</span></h4><span class="loop-section__item-date">1 неделя</span>
                  <figure class="loop-section__item-img"><img src="img/pic_2.png" alt="Image"></figure>
                  <div class="loop-section__item-descr">
                    <ul class="loop-section__list">  
                      <li class="loop-section__list-item">Измерения</li>
                      <li class="loop-section__list-item">Натурные тесты</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-2">
                <div class="loop-section__item">
                  <h4 class="loop-section__item-name">Производство <br> RFID-антены <span>03</span></h4><span class="loop-section__item-date">1 неделя</span>
                  <figure class="loop-section__item-img"><img src="img/pic_3.png" alt="Image"></figure>
                  <div class="loop-section__item-descr">
                    <ul class="loop-section__list">  
                      <li class="loop-section__list-item">Lamination</li>
                      <li class="loop-section__list-item">Cleaning</li>
                      <li class="loop-section__list-item">Printing</li>
                      <li class="loop-section__list-item">Etching</li>
                      <li class="loop-section__list-item">Inspection</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-2">
                <div class="loop-section__item">
                  <h4 class="loop-section__item-name">Производство <br> RFID-меток <span>04</span></h4><span class="loop-section__item-date">2 недели</span>
                  <figure class="loop-section__item-img"><img src="img/pic_4.png" alt="Image"></figure>
                  <div class="loop-section__item-descr">
                    <ul class="loop-section__list">  
                      <li class="loop-section__list-item">Flip chip Bonding</li>
                      <li class="loop-section__list-item">Converting</li>
                      <li class="loop-section__list-item">Roll on glue</li>
                      <li class="loop-section__list-item">Die cutting</li>
                      <li class="loop-section__list-item">Slitting</li>
                      <li class="loop-section__list-item">Testing</li>
                      <li class="loop-section__list-item">RFID Label</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-xl-2">
                <div class="loop-section__item">
                  <h4 class="loop-section__item-name">Упаковка <br> Доставка <span>05</span></h4><span class="loop-section__item-date">1-2 недели</span>
                  <figure class="loop-section__item-img"><img src="img/pic_5.png" alt="Image"></figure>
                  <div class="loop-section__item-descr"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="free-samples" id="free-samples">
        <div class="container">
          <h2 class="title advantages__h2 loop-section__title"><span>02</span> Бесплатные образцы</h2>
          <div class="row">
            <div class="col-lg-6">
              <div class="free-samples__text">
                <p>Свяжитесь с нами для заказа бесплатных образцов, и мы незамедлительно отправим их вам где-бы вы не находились</p>
              </div>
            </div>
          </div>
        </div>
        <form class="proposition-block__form">
          <div class="container">
            <div class="proposition-block__form__wrapper row">
              <div class="proposition-block__form__wrapper__input">
                <input type="text" name="name" placeholder="Имя">
                <input type="tel" name="tel" placeholder="Телефон">
              </div>
              <div class="proposition-block__form__wrapper__button">
                <button name="submit" type="submit" value="Отправить">Связаться</button>
              </div>
            </div>
          </div>
        </form>
      </section>
      <div class="container">
        <div class="advantages col-xl-12" id="scalable-production">
          <div class="advantages__label technologies__label one-roof__label row justify-content-end">
            <div class="advantages__label__content technologies__label-content technologies__label-content_left order-last order-lg-first">
              <h3 class="advantages__label__content__h3 bracket bracket_slash">Масштабируемое производство</h3>
              <p class="advantages__label__content__p one-roof__label-p">Наша производственная мощность входит в TOP 3 в мировом масштабе и способна удовлетворить спрос на сотни миллионов меток.</p>
            </div>
            <div class="advantages__label__img technologies__label-img technologies__label-img_left"><img src="img/layer_52.png" alt="Image"></div>
          </div>
        </div>
        <section class="partners-map" id="our-partners">
          <h2 class="production__title partners-map__title"><span>Наши партнёры в мире</span></h2>
          <div class="partners-map__wrapper"></div>
          <div class="partners-map__brands">
            <div class="row d-flex no-gutters justify-content-between">
              <div class="col-6 col-sm-2">
                <figure class="partners-map__brands-item"><a href="#"><img src="img/brands/Layer_45.png" alt="Partner Image"></a></figure>
              </div>
              <div class="col-6 col-sm-2">
                <figure class="partners-map__brands-item"><a href="#"><img src="img/brands/Layer_46.png" alt="Partner Image"></a></figure>
              </div>
              <div class="col-6 col-sm-2">
                <figure class="partners-map__brands-item"><a href="#"><img src="img/brands/Layer_47.png" alt="Partner Image"></a></figure>
              </div>
              <div class="col-6 col-sm-2">
                <figure class="partners-map__brands-item"><a href="#"><img src="img/brands/hover.png" alt="Partner Image"></a></figure>
              </div>
              <div class="col-6 col-sm-2">
                <figure class="partners-map__brands-item"><a href="#"><img src="img/brands/Layer_49.png" alt="Partner Image"></a></figure>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <div class="proposition">
      <div class="container">
        <div class="proposition-block__text">
          <h2 class="title-form">Получить предложение				</h2>
          <p class="proposition-block__text__p">Оставьте ваши контактные данные</p>
        </div>
      </div>
      <form class="proposition-block__form">
        <div class="container">
          <div class="proposition-block__form__wrapper row">
            <div class="proposition-block__form__wrapper__input">
              <input type="text" name="name" placeholder="Имя">
              <input type="tel" name="tel" placeholder="Телефон">
            </div>
            <div class="proposition-block__form__wrapper__button">
              <button name="submit" type="submit" value="Отправить">Отправить</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-xl-5 mb-3 mb-md-0">
            <div class="footer__first-col"><a class="footer__link footer__link_light" href="#">Экономия за счет инноваций</a><a class="footer__link footer__link_light" href="#">Весь RFID под одной крышей</a><span class="footer__copyright">&#9400; RFIDtag.tech</span></div>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 mb-md-0">
            <div class="footer__second-col">
              <h3 class="footer__title">Продукция</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Этиктки</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Метки на метал</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Антенны</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Инлеи</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Смарт-карты</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Индивидуальное проектирование</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 mb-3 mb-md-0">
            <div class="footer__third-col">
              <h3 class="footer__title">Информация</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Технологии</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Применение</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Услуги</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Контакты	</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 mb-3 mb-md-0">
            <div class="footer__forth-col"><a class="footer__tel" href="tel:74885634487">+7 488 563 44 87</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')</script>
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="module/slick-carousel/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="module/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="module/custom_scroll_X/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
