src/pug/pages/specifications.pug
extends ../templates/_head

block title
	| Specifications
block content
	main
		.main
			.container
				section.navigation-string.row.no-gutters
					a.navigation-string__a(href='') Главная
					span.navigation-string__span /
					a.navigation-string__a(href='') Спецификации RFID Антен
				section.banner-sticker.banner-specifications__bg.row
					.banner-sticker__block.col-xl-12
						h1.title.banner-sticker__block__h1 Спецификации
							span.banner-specifications__bg__span RFID Антен
				section.specifications-block
					.specifications-block__items.row.no-gutters
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
						.specifications-block__items__item
							.specifications-block__items__item__img
								img(src='img/label1.svg', alt="image")
							.specifications-block__items__item__content
								.specifications-block__items__item__content__title
									p Чип - 
										span STLRI2K
								.specifications-block__items__item__content__descriptions
									p Артикул
									span 0041А
								.specifications-block__items__item__content__descriptions
									p Размер
									span 36 x 20,5 мм
					.specifications-block__pagination
						ul.specifications-block__pagination__ul.row
							li.specifications-block__pagination__ul__li.before-active.prev
							li.specifications-block__pagination__ul__li.before-active 1
							li.specifications-block__pagination__ul__li.before-active 2
							li.specifications-block__pagination__ul__li.before-active 3
							li.specifications-block__pagination__ul__li.before-active 4
							li.specifications-block__pagination__ul__li.before-active 5
							li.specifications-block__pagination__ul__li.before-active 6
							li.specifications-block__pagination__ul__li.active 7
							li.specifications-block__pagination__ul__li.after-active 8
							li.specifications-block__pagination__ul__li.after-active 9
							li.specifications-block__pagination__ul__li.after-active 10
							li.specifications-block__pagination__ul__li.after-active 11
							li.specifications-block__pagination__ul__li.after-active.next
			.proposition.col-xl-12
				.container
					.proposition-block__text.test-block__text
						h2.title-form Получить предложение				
						p.proposition-block__text__p 
				form.proposition-block__form
					.container
						.proposition-block__form__wrapper.row.no-gutters
							.proposition-block__form__wrapper__input
								p Пройдите небольшой опрос, который займет всего 
									span 10 минут
							.proposition-block__form__wrapper__button
								button(name='submit' type='submit' value="Отправить") Пройти опрос

src/specifications.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="module/slick-carousel/slick/slick.css">
    <title>Specifications
    </title>
  </head>
  <body class="modal-bg">
    <header class="header navbar navbar-dark">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-4 col-md-6 col-xl-5 d-flex align-items-center">
            <div class="logo"><img src="img/logo.png" alt="Logo"></div>
            <div class="logo__descr text">
              <p>Снижает стоимость, не качество    </p>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="header__callback d-flex flex-column"><a class="header__num" href="tel:74885634487">+7 488 563 44 87</a><a class="d-flex align-items-center" href="tel:74885634487"><span class="js-callback">Обратный звонок</span></a></div>
            <div class="header__lang d-flex align-items-center"><span class="header__lang-item js-lang">Ru</span><span class="header__lang-slash">/</span><span class="header__lang-item header__lang-item_chosen js-lang">Eng</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
        </div>
      </div>
    </header>
    <nav class="container-fluid main-nav">
      <ul class="row">
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Экономия за счет инноваций</span></div>
        </li>
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Весь RFID под одной крышей</span></div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Этикетки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Антенны</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Инлеи</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Смарт-карты</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Индивидуальное проектирование</a></li>
            </ul><span class="main-nav__item-text">Продукция</span>
          </div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Технологии</a></li>
              <li class="main-nav__submenu-item"><a href="#">Применение</a></li>
              <li class="main-nav__submenu-item"><a href="#">Услуги</a></li>
            </ul><span class="main-nav__item-text">Информация</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light main-nav__mobile">
      <div class="collapse navbar-collapse main-nav__mobile-collaps" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Экономия за счет инноваций<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Весь RFID под одной крышей</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Этикетки</a><a class="dropdown-item" href="#">Метки</a><a class="dropdown-item" href="#">RFID Антенны</a><a class="dropdown-item" href="#">RFID Инлеи</a><a class="dropdown-item" href="#">RFID Метки</a><a class="dropdown-item" href="#">Смарт-карты</a><a class="dropdown-item" href="#">Индивидуальное проектирование</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2"><a class="dropdown-item" href="#">Технологии</a><a class="dropdown-item" href="#">Применение</a><a class="dropdown-item" href="#">Услуги</a></div>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="main">
        <div class="container">
          <section class="navigation-string row no-gutters"><a class="navigation-string__a" href="">Главная</a><span class="navigation-string__span">/</span><a class="navigation-string__a" href="">Спецификации RFID Антен</a></section>
          <section class="banner-sticker banner-specifications__bg row">
            <div class="banner-sticker__block col-xl-12">
              <h1 class="title banner-sticker__block__h1">Спецификации<span class="banner-specifications__bg__span">RFID Антен</span></h1>
            </div>
          </section>
          <section class="specifications-block">
            <div class="specifications-block__items row no-gutters">
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
              <div class="specifications-block__items__item">
                <div class="specifications-block__items__item__img"><img src="img/label1.svg" alt="image"></div>
                <div class="specifications-block__items__item__content">
                  <div class="specifications-block__items__item__content__title">
                    <p>Чип - <span>STLRI2K</span></p>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Артикул</p><span>0041А</span>
                  </div>
                  <div class="specifications-block__items__item__content__descriptions">
                    <p>Размер</p><span>36 x 20,5 мм</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="specifications-block__pagination">
              <ul class="specifications-block__pagination__ul row">
                <li class="specifications-block__pagination__ul__li before-active prev"></li>
                <li class="specifications-block__pagination__ul__li before-active">1</li>
                <li class="specifications-block__pagination__ul__li before-active">2</li>
                <li class="specifications-block__pagination__ul__li before-active">3</li>
                <li class="specifications-block__pagination__ul__li before-active">4</li>
                <li class="specifications-block__pagination__ul__li before-active">5</li>
                <li class="specifications-block__pagination__ul__li before-active">6</li>
                <li class="specifications-block__pagination__ul__li active">7</li>
                <li class="specifications-block__pagination__ul__li after-active">8</li>
                <li class="specifications-block__pagination__ul__li after-active">9</li>
                <li class="specifications-block__pagination__ul__li after-active">10</li>
                <li class="specifications-block__pagination__ul__li after-active">11</li>
                <li class="specifications-block__pagination__ul__li after-active next"></li>
              </ul>
            </div>
          </section>
        </div>
        <div class="proposition col-xl-12">
          <div class="container">
            <div class="proposition-block__text test-block__text">
              <h2 class="title-form">Получить предложение				</h2>
              <p class="proposition-block__text__p"> </p>
            </div>
          </div>
          <form class="proposition-block__form">
            <div class="container">
              <div class="proposition-block__form__wrapper row no-gutters">
                <div class="proposition-block__form__wrapper__input">
                  <p>Пройдите небольшой опрос, который займет всего <span>10 минут</span></p>
                </div>
                <div class="proposition-block__form__wrapper__button">
                  <button name="submit" type="submit" value="Отправить">Пройти опрос</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-xl-5 mb-3 mb-md-0">
            <div class="footer__first-col"><a class="footer__link footer__link_light" href="#">Экономия за счет инноваций</a><a class="footer__link footer__link_light" href="#">Весь RFID под одной крышей</a><span class="footer__copyright">&#9400; RFIDtag.tech</span></div>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 mb-md-0">
            <div class="footer__second-col">
              <h3 class="footer__title">Продукция</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Этиктки</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Метки на метал</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Антенны</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Инлеи</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Смарт-карты</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Индивидуальное проектирование</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 mb-3 mb-md-0">
            <div class="footer__third-col">
              <h3 class="footer__title">Информация</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Технологии</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Применение</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Услуги</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Контакты	</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 mb-3 mb-md-0">
            <div class="footer__forth-col"><a class="footer__tel" href="tel:74885634487">+7 488 563 44 87</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')</script>
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="module/slick-carousel/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="module/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="module/custom_scroll_X/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
