src/technologies.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="module/slick-carousel/slick/slick.css">
    <title>Technologies
    </title>
  </head>
  <body class="modal-bg">
    <header class="header navbar navbar-dark">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-4 col-md-6 col-xl-5 d-flex align-items-center">
            <div class="logo"><img src="img/logo.png" alt="Logo"></div>
            <div class="logo__descr text">
              <p>Снижает стоимость, не качество    </p>
            </div>
          </div>
          <div class="col-8 col-md-6 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="header__callback d-flex flex-column"><a class="header__num" href="tel:74885634487">+7 488 563 44 87</a><a class="d-flex align-items-center" href="tel:74885634487"><span class="js-callback">Обратный звонок</span></a></div>
            <div class="header__lang d-flex align-items-center"><span class="header__lang-item js-lang">Ru</span><span class="header__lang-slash">/</span><span class="header__lang-item header__lang-item_chosen js-lang">Eng</span></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          </div>
        </div>
      </div>
    </header>
    <nav class="container-fluid main-nav">
      <ul class="row">
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Экономия за счет инноваций</span></div>
        </li>
        <li class="col-md-4 col-lg-3">
          <div class="main-nav__item"> <span class="main-nav__item-text">Весь RFID под одной крышей</span></div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Этикетки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Антенны</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Инлеи</a></li>
              <li class="main-nav__submenu-item"> <a href="#">RFID Метки</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Смарт-карты</a></li>
              <li class="main-nav__submenu-item"> <a href="#">Индивидуальное проектирование</a></li>
            </ul><span class="main-nav__item-text">Продукция</span>
          </div>
        </li>
        <li class="col-md-2 col-lg-3">
          <div class="main-nav__item"> 
            <ul class="main-nav__submenu">
              <li class="main-nav__submenu-item"> <a href="#">Технологии</a></li>
              <li class="main-nav__submenu-item"><a href="#">Применение</a></li>
              <li class="main-nav__submenu-item"><a href="#">Услуги</a></li>
            </ul><span class="main-nav__item-text">Информация</span>
          </div>
        </li>
      </ul>
    </nav>
    <nav class="navbar navbar-light bg-light main-nav__mobile">
      <div class="collapse navbar-collapse main-nav__mobile-collaps" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="#">Экономия за счет инноваций<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="#">Весь RFID под одной крышей</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Продукция</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="#">Этикетки</a><a class="dropdown-item" href="#">Метки</a><a class="dropdown-item" href="#">RFID Антенны</a><a class="dropdown-item" href="#">RFID Инлеи</a><a class="dropdown-item" href="#">RFID Метки</a><a class="dropdown-item" href="#">Смарт-карты</a><a class="dropdown-item" href="#">Индивидуальное проектирование</a></div>
          </li>
          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Информация</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-2"><a class="dropdown-item" href="#">Технологии</a><a class="dropdown-item" href="#">Применение</a><a class="dropdown-item" href="#">Услуги</a></div>
          </li>
        </ul>
      </div>
    </nav>
    <main class="technologies">
      <div class="container">
        <section class="navigation-string row"><a class="navigation-string__a" href="#">Главная</a><span class="navigation-string__span">/</span><a class="navigation-string__a" href="#">Наши технологии</a></section>
        <section class="banner-sticker row">
          <div class="banner-sticker__block col-xl-12">
            <h1 class="title banner-sticker__block__h1 technologies__title">Наши <span>технологии</span></h1>
          </div>
          <div class="advantages col-xl-12">
            <div class="advantages__label technologies__label row justify-content-between">
              <div class="advantages__label__img technologies__label-img"><img src="img/layer_51.png" alt="image"></div>
              <div class="advantages__label__content technologies__label-content">
                <h3 class="advantages__label__content__h3">Производственная мощность</h3>
                <p class="advantages__label__content__p">Теперь мы сертифицированы ISO9001 и ISO14001 и поддерживаем долгосрочные партнерские отношения с такими клиентами, как Avery Dennison, Smartrac, Alien, Texas Instruments Malaysia и Arizon. Наш объем поставок занимает первое место в мире, и наши продукты высоко отзываются о наших клиентах.</p>
                <p class="advantages__label__content__p">На протяжении многих лет INLAYLINK расширился, чтобы ежегодно выпускать более 10 миллиардов листов высокочастотных и сверхвысокочастотных алюминиевых травильных антенн для более чем 100 известных компаний по упаковке RFID-меток.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-12">
            <section class="production">
              <h2 class="production__title"><span>Наше производство</span></h2>
              <div class="row align-items-start">
                <div class="col-12 col-sm-12 col-md-7">
                  <div class="production__video" id="production__video-slide">
                    <div class="production__video-wrapper d-flex">
                      <div class="row flex-column">
                        <div class="production__video-title bracket bracket_slash">Процесс производства RFID HF Инлеев</div>
                        <figure class="production__video-main">
                          <div class="production__video-previews js-play-video" style="background-image: url(img/video/layer_53.png)"></div>
                          <video class="production__video-mp4 js-videoTab" controls>
                            <source class="video" src="./video/Alita_Angel.mp4" type="video/mp4">
                            <source src="./video/Alita_Angel.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
                            <source src="./video/Alita_Angel.ogg" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
                          </video>
                        </figure>
                      </div>
                    </div>
                    <div class="production__video-wrapper d-flex">
                      <div class="row flex-column">
                        <div class="production__video-title bracket bracket_slash">Процесс производства RFID HF Инлеев</div>
                        <figure class="production__video-main">
                          <div class="production__video-previews js-play-video" style="background-image: url(img/video/layer_54.png)"></div>
                          <video class="production__video-mp4 js-videoTab" controls>
                            <source class="video" src="./video/venom_tv.mp4" type="video/mp4">
                            <source src="./video/venom_tv.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
                            <source src="./video/venom_tv.ogg" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
                          </video>
                        </figure>
                      </div>
                    </div>
                    <div class="production__video-wrapper d-flex">
                      <div class="row flex-column">
                        <div class="production__video-title bracket bracket_slash">Процесс производства RFID HF Инлеев</div>
                        <figure class="production__video-main">
                          <div class="production__video-previews js-play-video" style="background-image: url(img/video/layer_55.png)"></div>
                          <video class="production__video-mp4 js-videoTab" controls>
                            <source class="video" src="./video/Alita_Angel.mp4" type="video/mp4">
                            <source src="./video/Alita_Angel.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
                            <source src="./video/Alita_Angel.ogg" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
                          </video>
                        </figure>
                      </div>
                    </div>
                    <div class="production__video-wrapper d-flex">
                      <div class="row flex-column">
                        <div class="production__video-title bracket bracket_slash">Процесс производства RFID HF Инлеев</div>
                        <figure class="production__video-main">
                          <div class="production__video-previews js-play-video" style="background-image: url(img/video/layer_56.png)"></div>
                          <video class="production__video-mp4 js-videoTab" controls>
                            <source class="video" src="./video/venom_tv.mp4" type="video/mp4">
                            <source src="./video/venom_tv.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
                            <source src="./video/venom_tv.ogg" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
                          </video>
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5">
                  <div class="production__video-list" id="production__video-slide-nav">
                    <div class="production__video-item d-flex js-pause-video">
                      <figure class="production__video-small play"><img src="img/video/layer_53.png" alt="Video Image"></figure>
                      <div class="production__video-title production__video-title_small bracket_small bracket_small-slash">Процесс производства RFID HF Инлеев</div>
                    </div>
                    <div class="production__video-item d-flex js-pause-video">
                      <figure class="production__video-small play"><img src="img/video/layer_54.png" alt="Video Image"></figure>
                      <div class="production__video-title production__video-title_small bracket_small bracket_small-slash">Обновленный цех покраски</div>
                    </div>
                    <div class="production__video-item d-flex js-pause-video">
                      <figure class="production__video-small play"><img src="img/video/layer_55.png" alt="Video Image"></figure>
                      <div class="production__video-title production__video-title_small bracket_small bracket_small-slash">Тестирование продукции</div>
                    </div>
                    <div class="production__video-item d-flex js-pause-video">
                      <figure class="production__video-small play"><img src="img/video/layer_56.png" alt="Video Image"></figure>
                      <div class="production__video-title production__video-title_small bracket_small bracket_small-slash">Процес индивидуального проектироваия</div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="advantages col-xl-12">
            <div class="advantages__label technologies__label row justify-content-between">
              <div class="advantages__label__content technologies__label-content technologies__label-content_left">
                <h3 class="advantages__label__content__h3">Производственный процес</h3>
                <p class="advantages__label__content__p">Здесь вы можете увидеть наш производственный процесс, который включает ламинирование, чистку, печать, травление, осмотр.</p>
                <p class="advantages__label__content__p">Мы по-прежнему находим способы оптимизации нашего процесса и предоставления клиентам высококачественных продуктов по разумной цене.</p>
              </div>
              <div class="advantages__label__img technologies__label-img technologies__label-img_left"><img src="img/layer_52.png" alt="image"></div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <div class="proposition">
      <div class="container">
        <div class="proposition-block__text test-block__text">
          <h2 class="title-form">Получить предложение				</h2>
          <p class="proposition-block__text__p"> </p>
        </div>
      </div>
      <form class="proposition-block__form">
        <div class="container">
          <div class="proposition-block__form__wrapper row">
            <div class="proposition-block__form__wrapper__input">
              <P>Пройдите небольшой опрос, который займет всего <span>10 минут</span></P>
            </div>
            <div class="proposition-block__form__wrapper__button">
              <button name="submit" type="submit" value="Отправить">Пройти опрос</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-xl-5 mb-3 mb-md-0">
            <div class="footer__first-col"><a class="footer__link footer__link_light" href="#">Экономия за счет инноваций</a><a class="footer__link footer__link_light" href="#">Весь RFID под одной крышей</a><span class="footer__copyright">&#9400; RFIDtag.tech</span></div>
          </div>
          <div class="col-sm-6 col-md-3 mb-3 mb-md-0">
            <div class="footer__second-col">
              <h3 class="footer__title">Продукция</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Этиктки</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Метки на метал</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Антенны</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">RFID Инлеи</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Смарт-карты</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Индивидуальное проектирование</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-xl-2 mb-3 mb-md-0">
            <div class="footer__third-col">
              <h3 class="footer__title">Информация</h3>
              <nav>
                <ul class="footer__nav">
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Технологии</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Применение</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Услуги</a></li>
                  <li class="footer__nav-item"><a class="footer__link footer__link_dark" href="#">Контакты	</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-6 col-md-2 mb-3 mb-md-0">
            <div class="footer__forth-col"><a class="footer__tel" href="tel:74885634487">+7 488 563 44 87</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/plugins/jquery.min.js"><\/script>')</script>
    <script src="js/plugins/jquery.maskedinput.min.js"></script>
    <script src="js/plugins/jquery.validate.min.js"></script>
    <script src="module/slick-carousel/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="module/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="module/custom_scroll_X/jquery.mCustomScrollbar.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>

src/pug/pages/technologies.pug
extends ../templates/_head

block title
  | Technologies
block content
  main.technologies
    .container
      section.navigation-string.row
        a.navigation-string__a(href='#') Главная
        span.navigation-string__span /
        a.navigation-string__a(href='#') Наши технологии
      section.banner-sticker.row
        .banner-sticker__block.col-xl-12
          h1.title.banner-sticker__block__h1.technologies__title Наши 
            span технологии
        .advantages.col-xl-12
          .advantages__label.technologies__label.row.justify-content-between
            .advantages__label__img.technologies__label-img
              img(src='img/layer_51.png' alt="image")
            .advantages__label__content.technologies__label-content
              h3.advantages__label__content__h3 Производственная мощность
              p.advantages__label__content__p Теперь мы сертифицированы ISO9001 и ISO14001 и поддерживаем долгосрочные партнерские отношения с такими клиентами, как Avery Dennison, Smartrac, Alien, Texas Instruments Malaysia и Arizon. Наш объем поставок занимает первое место в мире, и наши продукты высоко отзываются о наших клиентах.
              p.advantages__label__content__p На протяжении многих лет INLAYLINK расширился, чтобы ежегодно выпускать более 10 миллиардов листов высокочастотных и сверхвысокочастотных алюминиевых травильных антенн для более чем 100 известных компаний по упаковке RFID-меток.
        .col-xl-12
          section.production
            h2.production__title #[span Наше производство]
            .row.align-items-start
              .col-12.col-sm-12.col-md-7
                #production__video-slide.production__video
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_53.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/Alita_Angel.mp4', type='video/mp4')
                          source(src='./video/Alita_Angel.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/Alita_Angel.ogg', type='video/ogg; codecs="theora, vorbis"')
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_54.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/venom_tv.mp4', type='video/mp4')
                          source(src='./video/venom_tv.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/venom_tv.ogg', type='video/ogg; codecs="theora, vorbis"')
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_55.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/Alita_Angel.mp4', type='video/mp4')
                          source(src='./video/Alita_Angel.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/Alita_Angel.ogg', type='video/ogg; codecs="theora, vorbis"')
                  .production__video-wrapper.d-flex
                    .row.flex-column
                      .production__video-title.bracket.bracket_slash Процесс производства RFID HF Инлеев
                      figure.production__video-main
                        .production__video-previews.js-play-video(style="background-image: url(img/video/layer_56.png)")
                        video.production__video-mp4.js-videoTab(controls)
                          source.video(src='./video/venom_tv.mp4', type='video/mp4')
                          source(src='./video/venom_tv.webm', type='video/webm; codecs="vp8, vorbis"')
                          source(src='./video/venom_tv.ogg', type='video/ogg; codecs="theora, vorbis"')
              .col-12.col-sm-12.col-md-5
                #production__video-slide-nav.production__video-list
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_53.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Процесс производства RFID HF Инлеев
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_54.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Обновленный цех покраски
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_55.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Тестирование продукции
                  .production__video-item.d-flex.js-pause-video
                    figure.production__video-small.play
                      img(src="img/video/layer_56.png" alt="Video Image")
                    .production__video-title.production__video-title_small.bracket_small.bracket_small-slash Процес индивидуального проектироваия
        .advantages.col-xl-12
          .advantages__label.technologies__label.row.justify-content-between
            .advantages__label__content.technologies__label-content.technologies__label-content_left
              h3.advantages__label__content__h3 Производственный процес
              p.advantages__label__content__p Здесь вы можете увидеть наш производственный процесс, который включает ламинирование, чистку, печать, травление, осмотр.
              p.advantages__label__content__p Мы по-прежнему находим способы оптимизации нашего процесса и предоставления клиентам высококачественных продуктов по разумной цене.
            .advantages__label__img.technologies__label-img.technologies__label-img_left
              img(src='img/layer_52.png' alt="image")
  .proposition
    .container
      .proposition-block__text.test-block__text
        h2.title-form Получить предложение				
        p.proposition-block__text__p 
    form.proposition-block__form
      .container
        .proposition-block__form__wrapper.row
          .proposition-block__form__wrapper__input
            P Пройдите небольшой опрос, который займет всего #[span 10 минут]
          .proposition-block__form__wrapper__button
            button(name='submit' type='submit' value="Отправить") Пройти опрос
